.Addrecipe-form {
  margin:10px auto;
  max-width: 400px;
  padding: 50px 42px 40px 50px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 1px solid #4691A4;
}
.Addrecipe-form li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.Addrecipe-form label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.Addrecipe-form input[type=text],
.Addrecipe-form input[type=date],
.Addrecipe-form input[type=datetime],
.Addrecipe-form input[type=number],
.Addrecipe-form input[type=search],
.Addrecipe-form input[type=time],
.Addrecipe-form input[type=url],
.Addrecipe-form input[type=email],
textarea,
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}
.Addrecipe-form input[type=text]:focus,
.Addrecipe-form input[type=date]:focus,
.Addrecipe-form input[type=datetime]:focus,
.Addrecipe-form input[type=number]:focus,
.Addrecipe-form input[type=search]:focus,
.Addrecipe-form input[type=time]:focus,
.Addrecipe-form input[type=url]:focus,
.Addrecipe-form input[type=email]:focus,
.Addrecipe-form textarea:focus,
.Addrecipe-form select:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.Addrecipe-form .field-divided{
  width: 49%;
}

.Addrecipe-form .field-long{
  width: 100%;
}
.Addrecipe-form .field-select{
  width: 100%;
}
.Addrecipe-form .field-textarea{
  height: 100px;
}
.Addrecipe-form input[type=submit], .Addrecipe-form input[type=button]{
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.Addrecipe-form input[type=submit]:hover, .Addrecipe-form input[type=button]:hover{
  background: #4691A4;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.Addrecipe-form .required{
  color:red;
}

.Addrecipe-form button{
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}